DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_vivre
DB_USER=root
DB_PASSWORD=

MAIL_ENABLED=true
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=vivrecares.notifications@gmail.com
MAIL_PASSWORD=[APP_PASSWORD HERE]
MAIL_FROM_ADDRESS=vivrecares.notifications@gmail.com
MAIL_FROM_NAME=Vivre Medical Group
APP_BASE_URL=http://localhost:5173
